
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=4dae7105271215480c29804921dcbc04
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress