
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=2d9fe524fad71048d95e11826b4e207f
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress